@media screen and (max-width: 968px) {
/*INDEX*/
.header{

    &__logo{
    max-width: 14rem;
    }

    &__list{
    font-size: 1rem;
    padding: 1rem;
    }

    &__container{
        flex-direction: column;
    }
}

.hero__titulo{
    font-size: 1.5rem;
}
.hero__slogan{
    font-size: 1.3rem;
}
.btn{
    font-size: 1.3rem;
    padding: 0.3rem;
}

.info{
    padding: 4rem;
}

.footer{
    font-size: 0.9rem;

    &__anchor{
    font-size: 1.1rem;
    }
}

/*Quienes Somos*/
.imagen{
    align-self: center;
}

.qs__equipo{
        font-size: 1.5rem;
    }

/*Servicios*/
.servicio__img {
    font-size: 1.5rem;
}

/*Galeria*/
.galeria__encabezado {
    font-size: 1.5rem;
    height: 20vh;   
}

}

/*MEDIA QUERIES 575px*/

@media screen and (max-width: 575px) {
    /*INDEX*/
    .header{
    
        &__logo {
        max-width: 11rem;
        }

        &__list {
        flex-direction: column;
        align-items: center;
        }

        &__container{
            flex-direction: row;
        }
    }

    .hero {
        padding: 1rem;
        height: 65vh;
    }

    .info {
        padding: 2rem;
    }

    .opinion{
        display: none;
    }

    .ms-4{
        margin-right: 1.5rem;
    }

    .footer{
        height: auto;
        padding: 1rem;
        flex-direction: column;
        font-size: 0.9rem;

        &__horarios{
        font-size: 0.9rem;
        }
    }


    /* SERVICIOS*/
    .servicio__img {
        font-size: 1rem;
    }

    .servicio__img {
        background: url(../../img/tires-g4239f20c9_192007.jpg) bottom;
    }
    .section {
        grid-template-columns: 1fr;
        
    }
    .agenda__btn{
        font-size: 1rem;
    }

    /*GALERIA*/
    .galeria__img{
        width: 100% !important;
        margin-left: 0;
    }
}


